
<body>
  <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
      </label>
      <a href="#" class="enlace">
          <img src="" alt="" class="logo bl-navbar fixed-top">
      </a>
      <ul>
          <li><a    routerLink="/auth/informacion">Inicio</a></li>
          <li><a routerLink="/auth/actividades">Actividades</a></li>
          <li><a routerLink="/auth/donaciones">Donaciones</a></li>
          <li><a routerLink="/auth/testimoniales">Testimoniales</a></li>
          <li><a routerLink="/auth/difusion">Difusion</a></li>
      </ul>
  </nav>
</body>
<router-outlet></router-outlet>
